<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) [%cyan(%logger{36})] : %msg %n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>./logs/%d{yyyy-MM-dd}-error.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="common" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/common.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>./logs/%d{yyyy-MM-dd}-common.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="operate" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/operate.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>./logs/%d{yyyy-MM-dd}-operate.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="org.hibernate.SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/jdbc.sql.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>./logs/jdbc.sql.%i.log</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>5</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--<appender name="org.ramer.diary.exception.DiaryExceptionHandler"-->
    <!--class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
    <!--<level>ERROR</level>-->
    <!--<onMatch>DENY</onMatch>-->
    <!--<onMismatch>ACCEPT</onMismatch>-->
    <!--</filter>-->
    <!--</appender>-->

    <logger name="org.hibernate.SQL">
        <appender-ref ref="org.hibernate.SQL"/>
    </logger>
    <!--<logger name="org.ramer.diary.exception.DiaryExceptionHandler">-->
    <!--<appender-ref ref="org.ramer.diary.exception.DiaryExceptionHandler"/>-->
    <!--</logger>-->
    <root>
        <appender-ref ref="common"/>
        <appender-ref ref="error"/>
        <appender-ref ref="console"/>
    </root>

</configuration>