@CHARSET "UTF-8";

.return_link {
 position: fixed;
 background: none;
 margin: 40px auto -10px 30px;
}

.container {
 width: 30%;
 margin: 130px auto 0 auto;
 padding-top: 10px;
 box-shadow: 0px 0px 20px rgba(154, 151, 151, 0.28)
}

div {
 text-align: center;
}

div.form {
 text-align: right;
}

.title {
 font-size: 30px;
 margin-bottom: 10px;
}

.form {
 margin-right: 40px;
}

input {
 margin: 10px;
}

input#mailAddr {
 margin: 10px;
}

a#forwardQQMail {
 display: none;
 border: 1px solid #4DABF5;
 margin: 10px 10px 10px 0px;
 padding: 9px 10px 7px 10px;
 border: 1px solid #4DABF5;
}