<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<!-- <link rel="stylesheet" type="text/css" href="style/default.css"> -->
<script src="js/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="style/userInput.css">
<script src="js/ramer/userInput.js"></script>
<head>
</head>
<body>
    <form action="home.html" enctype="application/x-www-form-urlencoded" method="post">
        <div class="container">
            <div class="title">Login</div>
            <div class="main">
                <div>
                    <span class="tag" tabindex="1">User</span>
                    <input type="text" class="anim" required>
                </div>
                <div>
                    <span class="tag" tabindex="2">Password</span>
                    <input type="password" class="anim" required>
                </div>
                <div>
                    <input type="submit" value="login">
                    <input type="reset" value="reset">
                </div>
            </div>
        </div>
    </form>
</body>
</html>