<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Diary</title>
<script src="js/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="style/default.css">
<link rel="stylesheet" type="text/css" href="style/component.css">
<link rel="stylesheet" type="text/css" href="style/home.css">
<script src="js/modernizr.custom.js"></script>
<!-- <script src="js/ramer/home.js"></script> -->
<head>
</head>
<body>
    <ul class="nav" >
        <li><a href="#" data-toggle = "Tags">Tags</a></li>
        <li><a href="#"data-toggle = "People">People</a></li>
        <li><a href="#"data-toggle = "Hot">Hot</a></li>
        <li><a href="#"data-toggle = "Home">Home</a></li>
    </ul>
    <div class="container">
    <ul class="grid effect-2" id="grid">
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg" data-toggle="asdf"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
            <li><a href="http://www.htmleaf.com/"><img
                    src="../../pictures//ramer/20160515071447.jpg"></a></li>
    </ul>
    </div>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/imagesloaded.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/AnimOnScroll.js"></script>
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ) , {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
    </script>
</body>
</ html >