h2 {
 text-align: center;
 text-transform: uppercase;
}

.container {
 min-width: 820px;
 padding: 10px;
 text-indent: 2em;
 width: 78%;
 margin: 4% auto;
 line-height: 1.5em;
 font-size: 16px;
 color: rgba(0, 0, 0, 0.73);
 background: #F7F7F7;
}

textarea {
 width: 400px;
 height: 100px;
 resize: none;
 outline: none;
 text-indent: 2em;
 border: 1px solid #80BEEF;
 line-height: 1.8em;
 color: rgba(77, 171, 245, 0.75);
}

select {
 width: auto;
 outline: none;
 background: #FFFFFF;
 border: 1px solid #70BBF7;
 height: 31px;
 padding-top: 2px;
 margin-right: 35px;
}

input {
 background: none;
 border: 1px solid #80BEEF;
 padding: 5px 17px;
 font-size: 13px;
 margin-left: 32px;
}

.environment {
 margin: 10px 0px;
}

.return_link {
 opacity: .7;
 width: 48px;
 height: 48px;
 position: fixed;
 background: none;
 margin: 10% auto auto 5%;
 position: fixed;
}

.return_link::before {
 background: url("../pictures/bubble.png") no-repeat;
 background-position: 2px -2px;
 position: absolute;
 color: rgba(0, 0, 0, 1);
 padding: 10px;
 left: 100%;
 top: -100%;
 width: 53px;
 height: 48px;
 content: "返回";
 transition: all .6s;
 opacity: 0;
}

.return_link:hover::before {
 opacity: .8;
}

.return_link:hover {
 opacity: .5;
}

.return_home {
 opacity: .7;
 width: 48px;
 height: 48px;
 position: fixed;
 background: none;
 margin: 15% auto auto 5%;
}

.return_home::before {
 background: url("../pictures/bubble.png") no-repeat;
 background-position: 2px -2px;
 position: absolute;
 color: rgba(0, 0, 0, 1);
 padding: 10px;
 left: 100%;
 top: -100%;
 width: 53px;
 height: 48px;
 content: "主页";
 transition: all .6s;
 opacity: 0;
}

.return_home:hover::before {
 opacity: .8;
}

.return_home:hover {
 opacity: .5;
}