@CHARSET "UTF-8";

body {
    min-width: 1190px;
}

.top {
    top: 0px;
    font-size: 2em;
    position: fixed;
    z-index: 10000;
    overflow: hidden;
    width: 100%;
}

.title {
    text-align: right;
    width: 55%;
    float: left;
    margin-top: 10px;
}

.about {
    text-align: right;
    font-size: .6em;
    margin: 15px 10px 0px;
}

.category_panel {
    padding-top: 7px;
    padding-bottom: 7px;
    position: absolute;
    margin-top: 55px;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .1);
}

.category {
    text-align: center;
    font-size: 1.3em;
    padding-left: 1%;
    float: left;
    width: 50%;
    min-width: 400px;
    margin: 7px auto;
}

.category span {
    margin: auto 4%;
}

.newTopic {
    background: url("/FlightDiary/pictures/new.png") no-repeat;
    width: 16px;
    height: 16px;
}

.signup {
    width: 50%;
    float: left;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 1.3em;
    padding-left: 20%;
}

.signup span {
    margin-left: 40%;
}

::-webkit-input-placeholder {
    color: #85918F !important;
    opacity: 1;
}

.querytopic {
    color: #85918F;
    background: rgb(255, 255, 255);
    margin-left: -80px;
    margin-top: 7px;
    height: 25px;
    width: 220px;
    border-radius: 100px;
    outline: none;
    border: 1px solid rgb(133, 145, 143);
    position: absolute;
    text-align: center;
    text-shadow: none;
    font-size: 13px;
}

.search {
    width: 14px;
    position: absolute;
    margin-left: 116px;
    margin-top: 12px;
}

.user_panel {
    text-align: right;
    margin: 7px auto;
    margin-right: 9%;
}

.user_panel span {
    margin: auto 15px;
    padding: 0px 15px;
}

span.username {
    text-shadow: rgba(133, 145, 143, .1) 0px 0px 0px, rgba(133, 145, 143, .1) 1px
        1px 0px, rgba(133, 145, 143, .1) 2px 2px 0px, rgba(133, 145, 143, .1)
        3px 3px 0px, rgba(133, 145, 143, .1) 4px 4px 0px,
        rgba(133, 145, 143, .1) 5px 5px 0px, rgba(133, 145, 143, .1) 6px 6px 0px,
        rgba(133, 145, 143, .1) 7px 7px 0px, rgba(133, 145, 143, .1) 8px 8px 0px;
    font-size: 20px;
    cursor: pointer;
}

.user_link {
    display: none;
    position: absolute;
    left: 77%;
    text-align: left;
    margin-top: 107px;
    z-index: 10;
    padding: 10px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, .2);
}

.user_link div {
    padding: 10px 0px;
}

.user_link div span {
    margin-left: 50px;
}

.container {
    width: 100%;
    overflow: hidden;
    float: left;
    margin-top: 100px;
}

div.topic_panel {
    display: none;
    width: 400px;
    min-width: 400px;
    margin-top: 92px;
    position: absolute;
    text-align: center;
    z-index: 100;
    right: 16%;
    box-shadow: 0px 1px 10px #E2E1E1;
    border: 1px solid #80BEEF;
}

.topic_content {
    width: 100%;
    resize: none;
    text-indent: 2em;
    border: none;
    border-bottom: 1px solid #80BEEF;
    line-height: 1.8em;
    margin-bottom: 10px;
    outline: none;
}

.tool {
    border: 1px solid #80BEEF;
    display: table;
    position: absolute;
    top: -1px;
    right: -42px;
}

div#addPosition {
    width: 40px;
    cursor: pointer;
    font-size: .9em;
    padding: 5px;
}

#addTime img {
    height: 23px;
    width: 21px;
}

div#addTime {
    cursor: pointer;
    font-size: .9em;
    padding: 5px;
    width: 40px;
}

.upbtn {
    width: 270px;
    position: absolute;
    right: -11px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.upbtn2 {
    width: 270px;
    height: 46px;
    margin-left: 129px;
    margin-top: 0px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    border: 1px solid #70BBF7;
}

.preview {
    position: absolute;
    margin-top: -52px;
    background: none;
    display: none;
    width: 131px;
    height: 42px;
    overflow: hidden;
}

.preview_pic {
    right: 48px;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50px;
}

.input_tag_panel {
    /* overflow: hidden; */
    text-align: right;
}

.input_tag_panel select {
    max-width: 67px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #70BBF7;
    height: 31px;
    padding-top: 2px;
    margin-right: 35px;
}

.input_tags {
    width: 270px;
    height: 31px;
    font-size: 15px;
    margin-right: -1px;
    border: 1px solid #70BBF7;
}

.name_panel {
    line-height: 1em;
    padding: 0px;
    margin: 0px;
    height: 103px;
    text-align: center;
}

.tags_panel {
    line-height: 1.5em;
    letter-spacing: 0.1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    margin: 0px auto;
}

.tags {
    cursor: pointer;
}

.name {
    position: relative;
    top: 0px;
    opacity: 1;
}

.head {
    opacity: 1;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.t_content {
    background: none;
    line-height: 2em;
    margin-top: 6px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.user_mess {
    text-align: center;
    opacity: .9;
    box-shadow: 3px 3px 8px #D8D7D7;
}

.page_panel {
    width: 108px;
    float: left;
    position: fixed;
    top: 100px;
    right: 0;
    margin: 20px;
    text-align: center;
}

ul.page_panel li {
    cursor: pointer;
    padding: 10px;
    list-style: none;
    opacity: 0.5;
}

#removeScrollPage {
    cursor: pointer;
}

.tag_panel {
    min-width: 122px;
    z-index: 10;
    position: absolute;
    padding: 10px;
    line-height: 2em;
    border: 1px solid #4DABF5;
    transition: all 2s;
    background: #FFFFFF;
    margin-top: 120px;
    height: 180px;
    overflow: hidden;
    border-bottom: none;
}

.tag_panel_new {
    z-index: 10;
    position: absolute;
    padding: 10px;
    line-height: 2em;
    border: 1px solid #4DABF5;
    transition: all 2s;
    background: #FFFFFF;
    margin: -125px 0 0 -300px;
    overflow: hidden;
    width: 600px;
    left: 50%;
    top: 50%;
    height: 250px;
    transform: scale(.2);
}

.tagname {
    text-align: center;
    margin-bottom: 10px;
}

form#tagForm {
    display: none;
}

a {
    position: relative;
}

a::before {
    position: absolute;
    content: attr(data-toggle);
    opacity: 0;
    color: rgba(61, 80, 76, 0.63);
    transform: scale(1.1) rotate(8deg) translateX(10px) translateY(-10px);
    transition: all .5s;
}

a:hover::before {
    position: absolute;
    opacity: 1;
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
    color: #FFFFFF; //
    text-shadow: 0px 0px 0px rgb(0, 0, 0);
}