@CHARSET "UTF-8";
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v28/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body {
    min-width: 850px;
}

.title {
    height: 100%;
    width: 100px;
    background: url(/img/logo.png) -19px -14px !important;
}

input[type="submit"], input[type="reset"] {
    background: rgba(3, 169, 244, 0.67);
    border: none;
    color: white;
}

.about {
    text-align: right;
    font-size: .6em;
    margin: 15px 10px 0px;
}

.top {
    line-height: 31px;
    text-align: center;
    font-size: 18px;
    margin: 0 1%;
    float: left;
    /* width: 36%; */
    /* min-width: 290px; */
    height: 100%
}

/* 分享面板 */
.category_panel {
    position: absolute;
    height: 74px;
    width: 100%;
    min-width: 750px;
    background: #00BCD4;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.26)
}

.category_panel div, .category_panel ul {
    background: transparent;
    font-size: 22px;
    line-height: 74px;
    color: #fff
}

.category {
    text-align: center;
    float: left;
    width: 36%;
    height: 100%;
    min-width: 310px
}

ul.category li {
    float: left;
    list-style: none;
    width: 25%;
    height: 100%
}

.category_panel a {
    color: rgba(255, 255, 255, 0.87);
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%
}

ul.category li {
    float: left;
    list-style: none;
    width: 25%;
    height: 100%;
}

.category_panel a:hover {
    color: rgba(255, 255, 255, 1);
    background: #00ACC1
}

.query {
    float: left;
    height: 100%;
    width: 29%;
    min-width: 250px;
    position: relative
}

input.querytopic {
    color: rgba(255, 255, 255, .87);
    margin: 0;
    width: 0%;
    height: 50%;
    outline: none;
    border: none;
    transform: translateY(-50%);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    top: 50%;
    position: absolute;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    padding-left: 25px;
    background: transparent;
    border-bottom: 3px solid transparent
}

div.query i.material-icons {
    line-height: 74px
}

input.extend-border-bottom {
    transition: all .5s;
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, .87)
}

.choose-pic {
    display: inline-block;
    background: #00BCD4;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .26);
    cursor: pointer;
    color: white;
    border-radius: 102px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 41px
}

input#topicPic:hover + label {
    background: #00ACC1;
    color: rgba(255, 255, 255, .87);
    font-size: 40px
}

input[type='file'] {
    display: none
}

.preview-container {
    width: 100%;
    float: left
}

.preview {
    width: 30%;
    margin: 10px 10px 0 0;
    box-shadow: 1px 1px 18px -4px rgba(0, 0, 0, 0.52);
    position: relative;
    float: left
}

.trash-container {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.61)
}

.trash {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 100%;
    color: #ffffff;
    font-size: 47px;
    margin-left: -3px;
    text-align: center
}

.opacitys {
    opacity: 1
}

img.preview-pic {
    width: 100%
}

textarea {
    width: 100%;
    height: 29px;
    resize: none;
    outline: none;
    text-indent: 2em;
    border: none;
    border-bottom: 1px solid #9E9E9E;
    line-height: 1.8em;
    color: #9E9E9E
}

.tag-container li {
    position: relative;
    cursor: pointer;
    float: left;
    list-style: none;
    margin: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.48);
    background: #00BCD4;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.53)
}

.tag-container li input {
    display: none
}

.tag-container li.custom-container {
    padding: 0
}

.tag-container li.add-custom-tag {
    margin-left: -42px;
    box-shadow: none;
    cursor: pointer;
    padding: 10px
}

.tag-container li.custom-container input {
    display: inline-block;
    margin: 0;
    height: 39px;
    border-radius: 0;
    background: #00ACC1;
    border: none;
    color: white;
    margin-right: 39px;
    padding: 10px
}

.tab-container li label {
    padding: 10px;
    display: block
}

.tag-container li.publish-topic {
    padding: 10px
}

.tag-container li input:checked + label:before {
    position: absolute;
    content: '✔';
    height: 21px;
    width: 21px;
    top: -20%;
    right: -5px;
    color: #ffffff;
    border-radius: 100px;
    background: #00BCD4;
}

.tag-container li.add-custom-tag {
    margin-left: -42px;
    box-shadow: none;
    cursor: pointer;
    border-left: 1px solid #00BCD4
}

/* 分享面板 */

.newTopic {
    background: url("/FlightDiary/pictures/new.png") no-repeat;
    width: 16px;
    height: 16px;
}

.signup {
    line-height: 31px;
    text-align: center;
    font-size: 18px;
    padding-left: 1%;
    float: left;
    width: 10%;
    height: 100%;
    min-width: 100px;
    margin: 0 auto;
}

::-webkit-input-placeholder {
    color: #85918F !important;
    opacity: 1;
}

.search {
    width: 14px;
    position: absolute;
    top: 25%;
    right: 10px;
}

.user_panel {
    text-align: center;
    height: 100%;
    line-height: 31px;
    width: 33%;
    min-width: 286px;
    float: left;
}

.user_panel span {
    margin: auto 3%;
}

span.username {
    text-shadow: rgba(133, 145, 143, .1) 0px 0px 0px, rgba(133, 145, 143, .1) 1px 1px 0px, rgba(133, 145, 143, .1) 2px 2px 0px, rgba(133, 145, 143, .1) 3px 3px 0px, rgba(133, 145, 143, .1) 4px 4px 0px,
    rgba(133, 145, 143, .1) 5px 5px 0px, rgba(133, 145, 143, .1) 6px 6px 0px,
    rgba(133, 145, 143, .1) 7px 7px 0px, rgba(133, 145, 143, .1) 8px 8px 0px;
    font-size: 20px;
    cursor: pointer;
}

.user_link {
    display: none;
    position: absolute;
    left: 77%;
    text-align: left;
    margin-top: 101px;
    z-index: 10;
    padding: 10px;
    box-shadow: 0px 3px 6px #607D8B;
}

.user_link div {
    padding: 10px 0px;
}

.user_link div span {
    margin-left: 50px;
}

.container {
    width: 90%;
    overflow: hidden;
    float: left;
    margin-top: 100px;
    margin-left: 5%
}

div.topic_panel {
    /*display: none;*/
    width: 520px;
    min-width: 520px;
    margin-top: 101px;
    position: absolute;
    z-index: 100;
    right: 16%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .26)
}

.tool {
    border-right: 1px solid rgb(96, 125, 139);
    border-bottom: 1px solid rgb(96, 125, 139);
    display: table;
    position: absolute;
    top: 0px;
    right: -41px;
    text-align: center;
}

div#addPosition {
    width: 40px;
    cursor: pointer;
    font-size: .9em;
    padding: 5px;
}

#addTime img {
    height: 23px;
    width: 21px;
}

div#addTime {
    cursor: pointer;
    font-size: .9em;
    padding: 5px;
    width: 40px;
}

.upbtn {
    width: 270px;
    position: absolute;
    right: -11px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.upbtn2 {
    width: 270px;
    height: 46px;
    margin-left: 128px;
    margin-top: 0px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    border: none;
    background: #eee;
}

.preview_pic {
    right: 48px;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50px;
}

.input_tag_panel {
    /* overflow: hidden; */
    text-align: right;
}

.input_tag_panel select {
    width: 119px;
    outline: none;
    height: 40px;
    padding-left: 16px;
    border: none;
    background: #eee;
    margin: 15px auto;
}

.input_tags {
    width: 270px;
    height: 31px;
    font-size: 15px;
    margin-right: -1px;
    border: 1px solid #607D8B;
}

.name_panel {
    line-height: 1em;
    padding: 0px;
    margin: 0px;
    height: 103px;
    text-align: center;
}

.tags_panel {
    line-height: 1.5em;
    letter-spacing: 0.1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    margin: 0px auto;
}

.tags {
    cursor: pointer;
}

.name {
    position: relative;
    top: 0px;
    opacity: 1;
}

.head {
    opacity: 1;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.t_content {
    background: none;
    line-height: 2em;
    margin-top: 6px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.user_mess {
    text-align: center;
    opacity: .9;
    box-shadow: 0px 0px 6px 3px rgba(50, 50, 50, 0.15)
}

.last_page {
    background: transparent;
    opacity: .8;
    margin-left: 5px
}

.last_page, .next_page {
    position: fixed;
    top: 40%;
    z-index: 10000
}

.next_page {
    width: 48px;
    right: 0;
    opacity: .8;
    background: transparent;
    margin-right: 5px
}

#removeScrollPage {
    cursor: pointer;
}

.tag_panel {
    min-width: 122px;
    z-index: 10;
    position: absolute;
    padding: 10px;
    line-height: 2em;
    border: 1px solid #009f95;
    transition: all 2s;
    background: #FFFFFF;
    margin-top: 120px;
    height: 180px;
    overflow: hidden;
    border-bottom: none;
}

.tag_panel_new {
    z-index: 10;
    position: absolute;
    padding: 10px;
    line-height: 2em;
    border: 1px solid #4DABF5;
    transition: all 2s;
    background: #FFFFFF;
    margin: -125px 0 0 -300px;
    overflow: hidden;
    width: 600px;
    left: 50%;
    top: 50%;
    height: 250px;
    transform: scale(.2);
}

.tagname {
    text-align: center;
    margin-bottom: 10px;
}

form#tagForm {
    display: none;
}
