<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>关于Diary</title>
    <link href="/css/about.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h2>关于 Diary</h2>
    <p>
        Diary是一个图片和文字分享网站。它给了你这样一个分享平台，你可以使用这个平台分享和查看他人分享的旅行经历，一张图片一段文字。
        Diary作为一个旅行分享平台，同时推荐给你最受网友欢迎的城市和最擅于旅行的网友。作为登录用户使用该软件可以浏览，查看和评论他
        人分享的旅行日记，同时可以给他发送一封私信，查看他收藏的分享和关注的人。使用该软件可以发表和删除已发表的旅行日记。登录用户可以修
        改找回密码，编辑个人基本信息。
    </p>
    <p>
        Diary注重与用户的交互，界面友好，性能稳定，可扩展性强。
    </p>
</div>
</body>
</html>