<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="http://oqdpapa6l.bkt.clouddn.com/default.css"/>
    <link rel="stylesheet" type="text/css" href="http://oqdpapa6l.bkt.clouddn.com/error.css"/>
    <title>发生错误了 !!!</title>
</head>
<body>
<div class="return_link">
    <a href="/home">返回主页</a>
    <br/>
</div>
<div class="errorMessage" th:text="${errorMessage}"></div>
<div th:text="${exception }"></div>
</body>
</html>