<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>分享你的风景</title>
    <link href="img/favicon.ico" rel="icon"/>
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <script type="application/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"/>
</head>
<body layout:fragment="page_body"/>
<!-- 页面js -->
<script type="application/javascript" layout:fragment="page_js" th:inline="javascript"/>
</html>