<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="home_layout">
<head>
    <!-- 气泡提示 -->
    <link rel="stylesheet" type="text/css" href="/css/balloon.min.css"/>
    <!-- 瀑布流 -->
    <link rel="stylesheet" type="text/css" href="/js/WaterfallFlow/component.css"/>
    <script type="application/javascript" src="/js/WaterfallFlow/modernizr.custom.js"/>
    <script type="application/javascript" src="/js/WaterfallFlow/masonry.pkgd.min.js"/>
    <script type="application/javascript" src="/js/WaterfallFlow/imagesloaded.js"/>
    <script type="application/javascript" src="/js/WaterfallFlow/classie.js"/>
    <script type="application/javascript" src="/js/WaterfallFlow/AnimOnScroll.js"/>
    <!-- cookie -->
    <script type="application/javascript" src="/js/js.cookie.js"/>
    <!-- 文本域自动扩展 -->
    <script type="application/javascript" src="/js/TextAreaExpander.js"/>
    <!-- layer弹窗 -->
    <script type="application/javascript" src="/js/layer/layer.js"/>
    <!-- 图片预览 -->
    <link rel="stylesheet" type="text/css" href="/picture-preview/picture-preview.css"/>
    <script type="application/javascript" src="/picture-preview/picture-preview.js"/>
    <!-- TAB标签切换 -->
    <link rel="stylesheet" type="text/css" href="/tab-toggle/tab-toggle.css"/>
    <script type="application/javascript" src="/tab-toggle/tab-toggle.js"/>
    <!-- 自定义 -->
    <script type="application/javascript" th:inline="javascript">
        $(function () {
            /*<![CDATA[*/
            scrollInPage = /*[[${session.scrollInPage}]]*/;
            /*]]>*/
        })
    </script>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <script type="application/javascript" src="/js/ramer/home.js"/>
    <style type="text/css">
        .more {
            position: absolute;
            top: 300px;
            left: 0;
            padding: 10px;
            background: #009f95;
            transition: all 1s;
            z-index: 10000;
            width: 122px;
            color: rgba(255, 255, 255, .5);
            text-align: center;
            cursor: pointer;
        }

        .moreAm {
            animation: ramerAnimateTwo 1s linear;
        }

        .moreNew {
            margin-left: -50px;
            width: 120px;
            animation: ramerAnimate 1s linear;
            transform: scale(5);
            left: 50%;
            top: 50%;
            box-shadow: 0px 0px 30px rgb(0, 159, 149);
        }

        .showdata {
            background: none;
            opacity: 0;
            color: #FFFFFF;
            overflow: hidden;
            position: absolute;
            top: 40%;
            left: 40px;
            padding: 10px;
            width: 600px;
            transition: all .5s;
            z-index: 10001;
        }

        .showdata ul {
            line-height: 1.2em;
            width:: 100%;
            overflow: hidden;
        }

        .showdata ul li {
            padding: 10px;
            list-style: none;
            float: left;
        }

        .showdata a {
            color: #FFFFFF;
        }

        @keyframes ramerAnimateTwo {
            0% {
                top: 50%;
                left: 50%;
            }
            100% {
                top: 300px;
                left: 0%;
            }
        }

        @keyframes ramerAnimate {
            0% {
                left: 0;
                top: 300px;
            }
            100% {
                left: 50%;
                top: 50%;
            }
        }
    </style>
</head>
<body layout:fragment="page_body">
<!-- 分类面板 -->
<div class="category_panel">
    <!-- 标题面板 -->
    <div class="top">
        <div class="title textshadow"></div>
    </div>
    <ul class="category">
        <li>
            <a href="/home" data-toggle="默认">默认</a>
            <span id="newTopic" style="position: absolute; margin: 0px;"></span>
        </li>
        <li>
            <a href="/home/orderbyUpCounts" data-toggle="热门">热门</a>
        </li>
        <li>
            <a href="/home/topPeople" data-toggle="达人">达人</a>
        </li>
        <li>
            <a href="/home/tag" id="topTags" data-toggle="标签">标签</a>
        </li>
    </ul>
    <!-- 通过用户输入标签获取分享 -->
    <div class="query">
        <input type="text" name="tag" class="querytopic" autocomplete="false"/>
        <i class="material-icons">search</i>
        <!--<i class="icon-search search"></i>-->
    </div>
    <!-- 通过标签获取分享表单 -->
    <form action="/home/tag" id="tagForm">
        <input type="text" name="tag" id="tagName"/>
    </form>
    <!-- 已登录用户,未完善用户信息 -->
    <div th:if="not ${session.user eq null} and ${session.user.id gt 0} and ${session.user.registNav eq true}"
         class="profile">
        <img th:src="${session.user.head}" onerror="javascript:this.src='/pictures/userHead.jpg'"/>
    </div>
</div>
<!-- 已登录用户,未完善用户信息,用户链接面板 -->
<section th:if="not ${session.user eq null} and ${session.user.id gt 0} and ${session.user.registNav eq true}"
         class="user-section-nav">
    <ul class="user-link">
        <li>
            <i class="material-icons">photo</i>
            <a href="user/personal">分享</a>
            <span th:text="${topicNumber eq null ? 0 : topicNumber}"></span>
        </li>
        <li>
            <i class="material-icons">visibility</i>
            <a href="user/personal">关注</a>
            <span th:text="${followedNumber eq null ? 0 : followedNumber}"></span>
        </li>
        <li>
            <i class="material-icons">chat</i>
            <a href="user/personal">私信</a>
            <span th:text="${notifiedNumber eq null ? 0 : notifiedNumber}"></span>
        </li>
        <li>
            <i class="material-icons">vpn_key</i>
            <a href="user/forwardModifyPassword">密码管理</a>
        </li>
        <li>
            <i class="material-icons">contact_mail</i>
            <a href="user/forwardModifyEmail">绑定邮箱</a>
        </li>
        <li>
            <i class="material-icons">account_circle</i>
            <a th:href="|user/${session.user.id}|">个人信息</a>
        </li>
        <li>
            <i class="material-icons">settings</i>
            <a href="/settings">系统设置</a>
        </li>
    </ul>
</section>
<!-- 已登录用户容器 -->
<div th:if="not ${session.user eq null} and ${session.user.id gt 0}" class="user-container">
    <!-- 用户信息 -->
    <div class="user_panel">
        <span>
            <a href="user/personal">主页</a>
        </span>
        <span class="username" th:text="${session.user.username}"/>
        <span id="newNotify" style="position: absolute; margin: 0px; margin-left: -30px;visibility: hidden"/>
        <span class="logoff">
            <a href="/logOff" id="logOff">注销</a>
        </span>
    </div>
    <!-- 发表分享 -->
    <section class="publish-section">
        <div class="tab-container topic_panel" id="topic_panel">
            <ul class="tab-title">
                <li class="tab active" data-toggle="tab-1"><i class="material-icons">photo</i></li>
                <li class="tab" data-toggle="tab-2"><i class="material-icons">text_format</i></li>
                <li class="tab" data-toggle="tab-3"><i class="material-icons">loyalty</i></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="active">
                    <input type="file" id="topicPic"/>
                    <label for="topicPic" class="choose-pic">﹢</label>
                    <div id="preview-container" class="preview-container"></div>
                </div>
                <div id="tab-2">
                    <p>给你的图片配点美妙的文字吧</p>
                    <textarea class="topic_content" id="topicContent"></textarea>
                </div>
                <div id="tab-3">
                    <ul class="tag-container">
                        <li th:each="tag:${tags}">
                            <input type="checkbox" readonly="readonly" th:id="${'bq-'+tag.id}" name="tags"
                                   th:value="${tag.tagName}"/>
                            <label th:for="${'bq-'+tag.id}" th:text="${tag.tagName}"/>
                        </li>
                        <li class="custom-container">
                            <input id="custom-tag" type="text"/>
                        </li>
                        <li class="add-custom-tag">＋</li>
                        <li id="publish-topic" class="publish-topic">分享</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- 用户链接面板 -->

    <section th:if="not ${session.user.registNav eq true}" class="user-section">
        <ul class="user-link">
            <li>
                <i class="material-icons">photo</i>
                <a href="user/personal">分享</a>
                <span th:text="${topicNumber eq null ? 0 : topicNumber}"></span>
            </li>
            <li>
                <i class="material-icons">visibility</i>
                <a href="user/personal">关注</a>
                <span th:text="${followedNumber eq null ? 0 : followedNumber}"></span>
            </li>
            <li>
                <i class="material-icons">chat</i>
                <a href="user/personal">私信</a>
                <span th:text="${notifiedNumber eq null ? 0 : notifiedNumber}"></span>
            </li>
            <li>
                <i class="material-icons">vpn_key</i>
                <a href="user/forwardModifyPassword">密码管理</a>
            </li>
            <li>
                <i class="material-icons">contact_mail</i>
                <a href="user/forwardModifyEmail">绑定邮箱</a>
            </li>
            <li>
                <i class="material-icons">account_circle</i>
                <a th:href="|user/${session.user.id}|">个人信息</a>
            </li>
            <li>
                <i class="material-icons">settings</i>
                <a href="/settings">系统设置</a>
            </li>
        </ul>
    </section>

    <!-- 用户注册信息完善 -->
    <section th:if="${session.user.registNav eq true}" class="user-section">
        <div class="regist_container regist">
            <form action="/sign_up" class="regist_form">
                <fieldset class="regist_main is_active">
                    <h3>完善你的基本信息</h3>
                    <label for="born">出生年月</label>
                    <input id="born" type="date" name="born" placeholder="出生年月"/>
                    <button class="regist_nav_button">下一步</button>
                </fieldset>
                <fieldset class="regist_main">
                    <h3>学习经历</h3>
                    <input type="text" id="senior" placeholder="曾/在读高中" pattern="\d{3}"
                           oninvalid="setCustomValidity('please input three numbers')"
                           oninput="setCustomValidity('')"/>
                    <input type="text" id="college" placeholder="曾/在读大学"/>
                    <button class="regist_nav_button">下一步</button>
                </fieldset>
                <fieldset class="regist_main">
                    <h3>就职信息</h3>
                    <input type="text" id="workstation" placeholder="工作地点"/>
                    <button class="regist_nav_button">完成</button>
                </fieldset>
            </form>
        </div>
    </section>
</div>
<!-- 未登录用户容器 -->
<div th:if="${session.user eq null or session.user.id lt 1}" class="user-container tab-container horizontal"
     id="user-login-regist">
    <ul class="tab-title">
        <li class="tab active" data-toggle="tab-user-login">登录</li>
        <li class="tab" data-toggle="tab-user-regist">注册</li>
    </ul>
    <div class="tab-content regist">
        <div class="user-login active material-form" id="tab-user-login">
            <form action="/login" method="post" id="_signInForm">
                <div>
                    <input type="text" name="username" class="username" id="username"/>
                    <label for="username">用户名</label>
                </div>
                <div>
                    <input type="password" name="password" id="password" class="password"/>
                    <label for="password">密码</label>
                </div>
                <div>
                    <input type="reset" class="reset" value="清空"/>
                    <input type="submit" class="submit" value="登录" id="signInBtn"/>
                </div>
            </form>
        </div>
        <div class="user-regist material-form" id="tab-user-regist">
            <form action="/sign_up" method="post" id="_signUpForm">
                <div>
                    <input type="text" name="username" class="username" id="username"/>
                    <label for="username">用户名</label>
                </div>
                <div>
                    <input type="password" name="password" id="password" class="password"/>
                    <label for="password">密码</label>
                </div>
                <div>
                    <input type="text" name="email" id="email" class="email"/>
                    <label for="email">邮箱</label>
                </div>
                <div>
                    <input type="reset" class="reset" value="清空"/>
                    <input type="submit" class="submit" value="注册" id="signUpBtn"/>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 上一页 -->
<div class="last_page" th:if="${session.scrollInPage eq false}">
    <a th:href="|?pageNum=${topics.number + 1 - 1}|" id="lastPage">
        <i class="material-icons md-48">navigate_before</i>
        <!--<img alt="error" src="/pictures/previous.png"/>-->
    </a>
</div>
<!-- 显示分享 -->
<div class="container" th:if="${showTopic eq true }">
    <ul class="grid effect-2" id="grid">
        <li th:each="t,tStat:${topics.content}">
            <div class="user_mess textshadow">
                <div class="tags_panel">
                    <th:block th:each="tag:${t.tagses}">
                        <i class="icon-tags"></i>
                        <span class="tags" th:text="${tag.name}"></span>
                    </th:block>
                </div>
                <div class="topic-picture">
                    <a th:href="|user/topic/${t.id}|">
                        <th:block th:if="${tStat.even eq true}" th:each="album,aStat:${t.albums}">
                            <div th:if="${aStat.even eq true}" class="skew_left_container">
                                <img th:src="${album.url}" alt="error" class="skew_left_content"/>
                            </div>
                            <div th:if="${aStat.odd eq true}" class="skew_right_container">
                                <img th:src="${album.url}" alt="error" class="skew_right_content"/>
                            </div>
                        </th:block>
                        <th:block th:if="${tStat.odd eq true}" th:each="album,aStat:${t.albums}">
                            <div th:if="${aStat.odd eq true}" class="skew_right_container">
                                <img th:src="${album.url}" alt="error" class="skew_right_content"/>
                            </div>
                            <div th:if="${aStat.even eq true}" class="skew_left_container">
                                <img th:src="${album.url}" alt="error" class="skew_left_content"/>
                            </div>
                        </th:block>
                    </a>
                </div>
                <div class="name_panel">
                    <a th:href="|user/personal/${t.user.id}|">
                        <img th:src="${t.user.head}" class="head"
                             onerror="javascript:this.src='/pictures/userHead.jpg'"/>
                    </a>
                    <div class="t_content ">
                        <p th:text="${t.content}"></p>
                        <sub th:text="${'-- '+t.user.username}"></sub>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <!-- 存储记录的总页数 -->
    <input id="totalPages" type="hidden" th:value="${topics.totalPages }"/>
    <!-- 存储当前页号 -->
    <input id="number" type="hidden" th:value="${topics.number}"/>
</div>
<!-- 下一页 -->
<div class="next_page" th:if="${session.scrollInPage eq false}">
    <a th:href="|?pageNum=${topics.number + 1 + 1}|" id="nextPage">
        <i class="material-icons md-48">navigate_next</i>
        <!--<img alt="error" src="/pictures/next.png"/>-->
    </a>
</div>
<input type="hidden" id="positionVal"/>
<input type="hidden"
       th:name="${_csrf.parameterName}"
       id="_csrf"
       th:value="${_csrf.token}"/>
<!-- 中英文切换 -->
<!--<select th:inline="text">-->
<!--<th:block th:if="${#locale.toString() eq 'zh'}">-->
<!--<option value="zh" selected="selected">中文</option>-->
<!--<option value="en">English</option>-->
<!--</th:block>-->
<!--<th:block th:if="${#locale.toString() == 'en'}">-->
<!--<option value="zh">中文</option>-->
<!--<option value="en" selected="selected">English</option>-->
<!--</th:block>-->
<!--</select>-->
</body>
<script layout:fragment="page_js">
    <!-- 瀑布流动画js -->
    new AnimOnScroll(document.getElementById('grid'), {
        minDuration: 0.4,
        maxDuration: 0.7,
        viewportFactor: 0.2
    });
</script>
</html>