<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七牛上传</title>
    <script src="/js/jquery-2.1.4.min.js"/>
    <script src="https://static.bekky.cn/manage/js/moxie.js"/>
    <script src="https://static.bekky.cn/manage/js/plupload.dev.js"/>
    <script src="https://static.bekky.cn/manage/js/qiniu.min.js"/>
    <script type="text/javascript">
        $(function () {
            function qiniuUploader(browse_button, container, init) {
                Qiniu.uploader({
                    runtimes: 'html5,flash,html4',      // 上传模式，依次退化
                    browse_button: browse_button,// 上传触发按钮
                    // 在初始化时，uptoken，uptoken_url，uptoken_func三个参数中必须有一个被设置
                    // 切如果提供了多个，其优先级为uptoken > uptoken_url > uptoken_func
                    // 其中uptoken是直接提供上传凭证，uptoken_url是提供了获取上传凭证的地址，如果需要定制获取uptoken的过程则可以设置uptoken_func
                    uptoken_url: '/manage/upload/token',         // Ajax请求uptoken的Url，强烈建议设置（服务端提供）
                    // uptoken_func: function(file){    // 在需要获取uptoken时，该方法会被调用
                    //    // do something
                    //    return uptoken;
                    // },
                    //            get_new_uptoken: true,             // 设置上传文件的时候是否每次都重新获取新的uptoken
                    // downtoken_url: '/downtoken',
                    // Ajax请求downToken的Url，私有空间时使用，JS-SDK将向该地址POST文件的key和domain，服务端返回的JSON必须包含url字段，url值为该文件的下载地址
                    //            unique_names: true,              // 默认false，key为文件名。若开启该选项，JS-SDK会为每个文件自动生成key（文件名）
                    save_key: true,                  // 默认false。若在服务端生成uptoken的上传策略中指定了sava_key，则开启，SDK在前端将不对key进行任何处理
                    domain: 'http://www.ramerf.cn',     // bucket域名，下载资源时用到，必需
                    container: container,             // 上传区域DOM ID，默认是browser_button的父元素
                    max_file_size: '100mb',             // 最大文件体积限制
                    flash_swf_url: '/js/Moxie.swf',  //引入flash，相对路径
                    max_retries: 3,                     // 上传失败最大重试次数
                    dragdrop: true,                     // 开启可拖曳上传
                    drop_element: container,          // 拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
                    chunk_size: '4mb',                  // 分块上传时，每块的体积
                    auto_start: true,                   // 选择文件后自动上传，若关闭需要自己绑定事件触发上传
                    init: {
                        'FilesAdded': init != null && init.FilesAdded != null ? init.FilesAdded : function (up, files) {
                            plupload.each(files, function (file) {
                                // 文件添加进队列后，处理相关的事情
                            });
                        },
                        'BeforeUpload': init != null && init.BeforeUpload != null ? init.BeforeUpload : function (up, file) {
                            // 每个文件上传前，处理相关的事情
                        },
                        'UploadProgress': init != null && init.UploadProgress != null ? init.UploadProgress : function (up, file) {
                            // 每个文件上传时，处理相关的事情
                        },
                        'FileUploaded': init != null && init.FileUploaded != null ? init.FileUploaded : function (up, file, info) {
                            // 每个文件上传成功后，处理相关的事情
                            // 其中info是文件上传成功后，服务端返回的json，形式如：
                            // {
                            //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
                            //    "key": "gogopher.jpg"
                            //  }
                            // 查看简单反馈
                            $("#msgCardBackfaceSuccess").show();
                            var domain = up.getOption('domain');
                            var res = JSON.parse(info);
                            cardBackfaceUrl = domain + "/" + res.key;
                        },
                        'Error': init != null && init.Error != null ? init.Error : function (up, err, errTip) {
                            //上传出错时，处理相关的事情
                        },
                        'UploadComplete': init != null && init.UploadComplete != null ? init.UploadComplete : function () {
                            //队列文件处理完毕后，处理相关的事情
                        },
                        'Key': init != null && init.Key != null ? init.Key : function (up, file) {
                            // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                            // 该配置必须要在unique_names: false，save_key: false时才生效

                            var key = "end";
                            // do something with key here
                            return key
                        }
                    }
                });
            }
        })

    </script>
</head>
<body>
<div class="form-group col-lg-6">
    <label>图片上传</label>
    <div id="containerCardBackface">
        <a class="btn btn-default btn-lg " id="btnCardBackfaceButton" href="#">
            <i class="glyphicon glyphicon-plus"></i>
            <span>选择文件</span>
        </a>
        <div id="msgCardBackfaceSuccess" class="alert alert-success" style="display: none;">
            上传成功！
        </div>
    </div>
</div>
</body>
</html>