@CHARSET "UTF-8";

.return_link {
 opacity: .7;
 width: 48px;
 height: 48px;
 position: fixed;
 background: none;
 margin: 10% auto auto 5%;
 position: fixed;
}

.return_link::before {
 background: url("../pictures/bubble.png") no-repeat;
 background-position: 2px -2px;
 position: absolute;
 color: rgba(0, 0, 0, 1);
 padding: 10px;
 left: 100%;
 top: -100%;
 width: 53px;
 height: 48px;
 content: "返回";
 transition: all .6s;
 opacity: 0;
}

.return_link:hover::before {
 opacity: .8;
}

.return_link:hover {
 opacity: .5;
}

.return_home {
 opacity: .7;
 width: 48px;
 height: 48px;
 position: fixed;
 background: none;
 margin: 15% auto auto 5%;
}

.return_home::before {
 background: url("../pictures/bubble.png") no-repeat;
 background-position: 2px -2px;
 position: absolute;
 color: rgba(0, 0, 0, 1);
 padding: 10px;
 left: 100%;
 top: -100%;
 width: 53px;
 height: 48px;
 content: "主页";
 transition: all .6s;
 opacity: 0;
}

.return_home:hover::before {
 opacity: .8;
}

.return_home:hover {
 opacity: .5;
}

.user_panel {
 box-shadow: 3px 3px 8px #D8D7D7;
 text-align: center;
 padding: 10px;
 width: 640px;
 height: 112px;
 margin: 20px auto;
 display: table;
}

.head {
 cursor: pointer;
 float: left;
}

.user_head {
 position: relative;
 background: none;
 float: left;
 width: 80px;
}

.head img {
 width: 80px;
 height: 80px;
 border-radius: 40px;
}

.name {
 text-shadow: rgba(133, 145, 143, .1) 0px 0px 0px, rgba(133, 145, 143, .1) 1px
  1px 0px, rgba(133, 145, 143, .1) 2px 2px 0px, rgba(133, 145, 143, .1) 3px 3px
  0px, rgba(133, 145, 143, .1) 4px 4px 0px, rgba(133, 145, 143, .1) 5px 5px 0px,
  rgba(133, 145, 143, .1) 6px 6px 0px, rgba(133, 145, 143, .1) 7px 7px 0px,
  rgba(133, 145, 143, .1) 8px 8px 0px;
 font-size: 25px;
}

.selfinfo {
 margin-left: 110px;
}

.contact, .info {
 line-height: 1.9em;
}

.contact span, .info span {
 padding: 0px 8px;
}

span.username {
 font-size: 20px;
 padding-right: 10px;
}

.notifyCount {
 margin-left: -5px;
}

.privMessPanel {
 box-shadow: 3px 3px 8px #D8D7D7;
 /*  text-align: center; */
 width: 640px;
 display: none;
 margin: 20px auto;
}

.privMessPanel span {
 padding: 10px;
 display: block;
}

.notify {
 margin-left: 10px;
}

.newNotify {
 background: url("/FlightDiary/pictures/new.png") no-repeat;
 width: 16px;
 height: 16px;
}

.update_head_panel {
 width: 640px;
 display: none;
 text-align: center;
 margin: 10px auto 0px;
 box-shadow: 3px 3px 8px #D8D7D7;
 border-bottom: 1px solid #4DABF5;
 text-align: center;
}

.tool {
 display: table;
 position: absolute;
 margin-top: -136px;
 margin-left: 646px;
}

div#addPosition {
 width: 40px;
 cursor: pointer;
 font-size: .9em;
 padding: 5px;
}

#addTime img {
 height: 23px;
 width: 21px;
}

div#addTime {
 cursor: pointer;
 font-size: .9em;
 padding: 5px;
 width: 40px;
}

.preview {
 position: absolute;
 margin-top: -55px;
 margin-left: 21px;
 display: none;
 overflow: hidden;
}

.preview_pic {
 width: 40px;
 height: 40px;
 border-radius: 20px;
}

input#picName {
 width: 200px;
 height: 36px;
 white-space: nowrap;
 text-overflow: ellipsis;
 cursor: pointer;
 margin-right: 250px;
}

input#upPic {
 opacity: 0;
 width: 200px;
 height: 36px;
 position: absolute;
 margin-left: -450px;
 margin-top: 10px;
 cursor: pointer;
}

.input_tag_panel {
 height: 53px;
 margin-top: -63px;
 margin-right: 0px;
 text-align: right;
 border-bottom: 1px solid #4DABF5;
}

.input_tag_panel select {
 height: 30px;
 border: none;
 outline: none;
 padding-left: 10px;
 margin-right: 35px;
}

input.input_tags {
 width: 210px;
 margin-top: 14px;
 margin-right: 0px;
}

.follow_panel {
 display: none;
 margin: 0px auto 20px;
 padding: 10px;
 width: 640px;
 box-shadow: 3px 3px 8px #D8D7D7;
}

.followed_user_panel {
 width: 90px;
 float: left;
 line-height: 1em;
 margin: 10px 30px;
 text-align: center;
}

.followed_user_head {
 width: 40px;
 height: 40px;
 border-radius: 20px;
}

.followed_user_name_panel {
 padding: 3px 0px;
}

.favourite_panel {
 text-align: center;
 overflow: hidden;
 display: none;
 margin: 0px auto 20px;
 padding: 10px;
 width: 640px;
 box-shadow: 3px 3px 8px #D8D7D7;
}

.favourite_item_panel {
 float: left;
 width: 135px;
 text-align: center;
 margin: 10px;
}

.favourite_item_picture {
 height: 70px;
 width: 90px;
}

.favourite_item_content {
 line-height: 1em;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
 width: 80%;
 margin: 0 auto;
 text-align: center;
}

.topic_panel {
 display: none;
 box-shadow: 3px 3px 8px #D8D7D7;
 margin: 0 auto;
 text-align: center;
 width: 640px;
}

textarea.topic_content {
 width: 100%;
 border: none;
 resize: none;
 outline: none;
 text-indent: 2em;
 border-bottom: 1px solid #4DABF5;
}

.upbtn {
 opacity: 0;
 width: 200px;
 height: 36px;
 position: absolute;
 margin: 0px;
 margin-left: -215px;
 margin-top: 11px;
 cursor: pointer;
 border: 1px solid;
}

.upbtn2 {
 width: 200px;
 height: 36px;
 white-space: nowrap;
 text-overflow: ellipsis;
 cursor: pointer;
}

.edit_profile {
 margin-right: 10px;
}

.no_topic {
 width: 400px;
 font-size: 20px;
 margin: 0 auto;
 background: none;
 text-align: center;
}

.container {
 text-align: center;
}

.show_topic {
 box-shadow: 3px 3px 8px #D8D7D7;
 margin: 0px auto 40px;
 padding: 10px;
 width: 640px;
}

.side {
 width: 106px;
 float: left;
}

.img {
 margin: 0 0 15px;
}

.desc {
 margin: 8px 0 0;
}

.text {
 line-height: 1.8;
 font-size: 14px;
}

.main {
 margin-left: 110px;
}

.day a {
 height: 70px;
 display: block;
 border-style: solid;
 border-width: 3px;
 font-family: "Rokkitt", arial, serif;
 font-size: 35px;
 text-align: center;
 line-height: 65px;
}

.topic_pic {
 width: 508px;
}

.h_line {
 margin-top: 10px;
 border-color: rgba(61, 80, 76, 0.63);
}

.comment_form {
 display: none;
}

.comment_content {
 width: 100%;
 height: 117px;
 text-indent: 2em;
 outline: none;
 resize: none;
 border: none;
 border-bottom: 1px solid #4DABF5;
}

.comment_panel {
 border: 1px solid rgba(61, 80, 76, 0.63);
 margin-top: 15px;
 padding: 10px;
}

.reply_form {
 display: none;
}

.reply_content {
 width: 100%;
 height: 117px;
 outline: none;
 text-indent: 2em;
 border: none;
 resize: none;
 border-bottom: 1px solid #4DABF5;
}

.reply_panel {
 border: 1px solid rgba(61, 80, 76, 0.63);
 margin-top: 15px;
 padding: 10px;
}

.reply_double_form {
 display: none;
}

.reply_double_content {
 width: 100%;
 height: 117px;
 outline: none;
 resize: none;
 text-indent: 2em;
 border: none;
 border-bottom: 1px solid #4DABF5;
}

.reply_double_panel {
 border: 1px solid rgba(61, 80, 76, 0.63);
 margin-top: 15px;
 padding: 10px;
}

.page_panel {
 width: 108px;
 float: left;
 position: fixed;
 top: 126px;
 right: 0;
 margin: 20px;
 text-align: center;
}

ul.page_panel li {
 cursor: pointer;
 padding: 10px;
 list-style: none;
 opacity: 0.5;
}

#removeScrollPage{
 cursor: pointer;
}