@CHARSET "UTF-8";

body {
 background-image: url("/FlightDiary/pictures/loginBG.jpg");
}

.form {
 margin-right: 10%;
}

.preview {
 width: 40px;
 height: 40px;
 border-radius: 20px;
 margin-right: 30px;
}

.error {
 size: 20px;
 color: rgba(255, 106, 0, 1);
}

.container {
 opacity: .8;
 padding: 10px;
/*  box-shadow: 1px 1px 10px #E4D6D6; */
 margin: 10% auto 0 auto;
 width: 35%;
}

user.userinfo {
 margin-right: -3px;
 width: 69%;
}

div {
 text-align: center;
}

div.form, div.reg_panel {
 text-align: right;
}

div.reg_panel {
 display: none;
}

div.forget_pass {
 text-align: right;
}

.title {
 font-size: 30px;
 margin-bottom: 10px;
}

.userHead {
 overflow: hidden;
 width: 100px;
 opacity: 0;
 cursor: pointer;
}

.picName {
 cursor: pointer;
 width: 270px;
 overflow: scroll;
 float: right;
 margin-left: -130px;
 display: block;
 outline: none;
}

.radio {
 border: none;
 width: 40px;
 height: 20px;
 opacity: .7;
 box-shadow: none;
}