@CHARSET "UTF-8";

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form,
    fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Tahoma, Arial, "Hiragino    Sans    GB",
        "Hiragino    Sans    GB    W3", "Microsoft    YaHei", STXihei, STHeiti,
        Heiti, SimSun, sans-serif;
    font-size: 100%;
    color: rgba(61, 80, 76, 0.63);
    transition: all 1.5s;
}

body {
    text-shadow: rgba(133, 145, 143, .1) 0px 0px 0px, rgba(133, 145, 143, .1) 1px
        1px 0px, rgba(133, 145, 143, .1) 2px 2px 0px, rgba(133, 145, 143, .1)
        3px 3px 0px, rgba(133, 145, 143, .1) 4px 4px 0px,
        rgba(133, 145, 143, .1) 5px 5px 0px, rgba(133, 145, 143, .1) 6px 6px 0px,
        rgba(133, 145, 143, .1) 7px 7px 0px, rgba(133, 145, 143, .1) 8px 8px 0px;
    background: none;
}

div {
    background: none;
    /*          text-transform:    capitalize;     */
}

input {
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid #70BBF7;
}

input[type="submit"], input[type="reset"] {
    margin: 10px 10px 10px 0px;
    height: 35px;
    cursor: pointer;
    width: 100px;
    background: rgba(161, 143, 107, 0);
    border: 1px solid #4DABF5;
    padding: 0px;
}

textarea {
    color: rgba(77, 171, 245, 0.75);
}

a:VISITED {
    text-decoration: none;
    color: rgba(61, 80, 76, 0.63);
}

a:hover {
    color: #DDDEDD;
}

a {
    white-space: nowrap;
    color: rgba(61, 80, 76, 0.63);
    text-decoration: none;
}

span {
    color: rgba(61, 80, 76, 0.63);
}

input::-webkit-input-placeholder {
    color: #9f9f9f;
}
/*    清除表单自动填充样式:针对chrome    */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    /*        border:    1px    solid    rgba(255,    255,    255,    .15)    !important;    */
}
/*    导入bootstrap图标    */
[class^="icon-"], [class*="    icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/icons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.icon-white {
    background-image: url("../img/icons-white.png")
}
/*    拇指向上图标空心    */
.icon-thumbs-up {
    background-position: -96px -144px;
}
/* 拇指向上实心 */
.icon-thumbs-up-ramer {
    background-position: -120px -144px;
}
/*    编辑图标    */
.icon-edit {
    background-position: -96px -72px;
}
/*    垃圾箱图标    */
.icon-trash {
    background-position: -456px 0;
}
/*    空心五星图标    */
.icon-star-empty {
    background-position: -144px 0;
}
/* 实心五星图标 */
.icon-star {
    background-position: -120px 0
}
/*    加号图标    */
.icon-plus {
    background-position: -408px -96px
}

/* 减号图标 */
.icon-minus {
    background-position: -433px -96px
}
/*    箭头朝上图标    */
.icon-arrow-up {
    opacity: .5;
    background-position: -289px -96px;
}

/*    箭头朝下图标    */
.icon-arrow-down {
    opacity: .5;
    background-position: -312px -96px;
}
/*    信封图标    */
.icon-envelope {
    background-position: -72px 0
}
/*  信封图标空  */
.icon-envelope-empty {
    background-position: 0 0
}
/* 搜索图标 */
.icon-search {
    background-position: -48px 0
}
/* 标签图标 */
.icon-tags {
    background-position: -25px -48px;
}
/*    修改浏览器滚动条样式*/
::-webkit-scrollbar {
    width: 5px;
}
/*  滚动条的滑轨背景颜色  */
::-webkit-scrollbar-track {
    background-color: #EDEDEF;
}

/*    滑块颜色    */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(77, 171, 245);
}
/*    滑轨两头的监听按钮颜色    */
::-webkit-scrollbar-button {
    display: none;
    background-color: rgba(61, 80, 76, 0.63);
}
/*    横向滚动条和纵向滚动条相交处尖角的颜色    */
::-webkit-scrollbar-corner {
    background-color: rgba(61, 80, 76, 0.63);
}
/*  输入框placeholder默认样式  */
::-webkit-input-placeholder {
    opacity: .5;
}